<header>
  <nav class="navbar site-nav">
    <div class="navbar-section">
      <h1 class="logo"><a href="/">map.</a></h1>
    </div>

    <div class="navbar-section">
      <p>Hi, <a href="/user/1">[user name]</a></p>
      <!-- <div class="dropdown">
        <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">[user name]</a>

        <ul class="menu">
          <li class="menu-item"><a href="/user/1">My Maps</a></li>
          <li class="menu-item"><a href="/user/1">Favourites</a></li>
          <li class="menu-item"><a href="/user/1">Profile</a></li>
        </ul>
      </div> -->
    </div>
  </nav>
</header>
