<header>
  <nav class="navbar site-nav">
    <div class="navbar-section">
      <h1 class="logo"><a href="/">map.</a></h1>
    </div>

    <div class="navbar-section">
      <% if (locals.user) { %>
      <p id="navbar-user">
        Hi, <a href="/users/<%= user.id %>"><%= user.fullname %></a>! (<a href="/logout">Log out</a
        >)
      </p>
      <% } else { %>
      <p id="navbar-user">
        <!-- <a href="/login" class="btn-link" id="btn-login">Log In</a> -->
        <button class="btn btn-link" id="btn-login">Log In</button>
      </p>
      <% } %>
    </div>
  </nav>
</header>
