    </div>

  <footer class="site-footer text-center bg-primary">
      <p class="mb-0">Created for Lighthouse Labs | Github Repo</p>
    </footer>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>
