<!-- site meta + body tag -->
<%- include('partials/_site-head') %>

<!-- <header> + <nav> -->
<%- include('partials/_headnav') %>

<main>
  <div class="bg-gray full-width">
    <div class="hero hero-lg site-hero">
      <div class="hero-body">
        <h1>Curate your favourite spots</h1>
        <a href="maps/new" class="btn btn-lg btn-primary s-rounded">Create Your Map</a>
      </div>
    </div>
  </div>

  <section class="grid-container">
    <h1 class="grid-header">All Maps</h1>
    <div class="card-grid">
      <article class="card s-rounded">
        <div class="card-image card-map">
          <img class="img-responsive" src="https://picsum.photos/800/500" />
          <a class="btn btn-primary s-rounded view-btn" href="/maps/1">View</a>
        </div>
        <div class="card-header">
          <div>
            <div class="card-title h3">Map Title</div>
            <p class="card-subtitle text-gray">by <a href="#">[User Name]</a></p>
          </div>

          <div>
            <span>999</span>
            <button class="btn btn-link btn-heart">
              <%- include('partials/_heart-svg') %>
            </button>
          </div>
        </div>
      </article>
    </div>
  </section>
</main>
<%- include('partials/_site-foot') %>
