<!-- site meta + body tag -->
<%- include('partials/_site-head') %>

<!-- <header> + <nav> -->
<%- include('partials/_headnav') %>

<main>
  <div class="bg-gray full-width">
    <div class="hero hero-lg site-hero">
      <div class="hero-body">
        <h1>Curate your favourite spots</h1>
        <a href="maps/new" class="btn btn-lg btn-primary s-rounded">Create Your Map</a>
      </div>
    </div>
  </div>

  <section class="grid-container">
    <h1 class="grid-header">All Maps</h1>
    <div class="card-grid" id="all-maps"></div>
  </section>
</main>
<%- include('partials/_site-foot') %>
