<%- include('partials/_site-head') %>
<header>
  <nav class="navbar">
    <div class="navbar-section">
      <h1>Wiki Maps</h1>
    </div>

    <div class="navbar-section">
      <div class="dropdown">
        <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">[user name]</a>

        <!-- menu component -->
        <ul class="menu menu-nav">
          <li class="menu-item"><a href="#">My Maps</a></li>
          <li class="menu-item"><a href="#">Favourites</a></li>
          <li class="menu-item"><a href="#">Profile</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="card">
    <div class="card-image">
      <img class="img-responsive" src="https://picsum.photos/800/500" />
    </div>
    <div class="card-header">
      <button class="btn btn-primary float-right">&hearts;</button>
      <div class="card-title h5">Map Title</div>
      <div class="card-subtitle text-gray">by <a href="#">[User Name]</a></div>
    </div>
  </div>
</main>
<%- include('partials/_site-foot') %>
