<!-- site meta + body tag -->
<%- include('partials/_site-head') %>

<!-- <header> + <nav> -->
<%- include('partials/_headnav') %>

<main>
  <div class="card">
    <div class="card-image">
      <img class="img-responsive" src="https://picsum.photos/800/500" />
    </div>
    <div class="card-header">
      <button class="btn btn-primary float-right">&hearts;</button>
      <div class="card-title h5">Map Title</div>
      <div class="card-subtitle text-gray">by <a href="#">[User Name]</a></div>
    </div>
  </div>
</main>
<%- include('partials/_site-foot') %>
