<!-- site meta + body tag -->
<%- include('partials/_site-head') %>

<!-- <header> + <nav> -->
<%- include('partials/_headnav') %>

<main>
  <article class="card s-rounded">
    <div class="card-image card-map">
      <img class="img-responsive" src="https://picsum.photos/800/500" />
      <button class="btn s-rounded view-btn">View</button>
    </div>
    <div class="card-header">
      <div>
        <div class="card-title h3">Map Title</div>
        <p class="card-subtitle text-gray">by <a href="#">[User Name]</a></p>
      </div>

      <div>
        <span>999</span>
        <button class="btn btn-primary">&hearts;</button>
      </div>
    </div>
  </article>
</main>
<%- include('partials/_site-foot') %>
