<!-- site meta + body tag -->
<%- include('partials/_site-head') %>

<!-- <header> + <nav> -->
<%- include('partials/_headnav') %>

<main>
  <a href="maps/new" class="btn btn-lg btn-primary s-rounded">Create Your Map</a>
  <div class="card-grid">
    <article class="card s-rounded">
      <div class="card-image card-map">
        <img class="img-responsive" src="https://picsum.photos/800/500" />
        <a class="btn btn-primary s-rounded view-btn">View</a>
      </div>
      <div class="card-header">
        <div>
          <div class="card-title h3">Map Title</div>
          <p class="card-subtitle text-gray">by <a href="#">[User Name]</a></p>
        </div>

        <div>
          <span>999</span>
          <button class="btn btn-link btn-heart">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-heart"
            >
              <path
                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </article>
  </div>
</main>
<%- include('partials/_site-foot') %>
