<!-- site meta + body tag -->
<%- include('partials/_site-head') %>

<!-- <header> + <nav> -->
<%- include('partials/_headnav') %>

<form id="login-form" method="POST" action="/login">
  <div class="modal-body">
    <div class="content">
      <label class="form-group">
        <span class="form-label">Email</span>
        <input type="email" class="form-input" id="user-email" name="userEmail" />
      </label>

      <label class="form-group">
        <span class="form-label">Password</span>
        <input type="password" class="form-input" id="user-password" name="user-password" />
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-block" type="submit">Log In</button>
  </div>
</form>

<%- include('partials/_site-foot') %>
