<!-- site meta + body tag -->
<%- include('partials/_site-head') %>

<!-- <header> + <nav> -->
<%- include('partials/_headnav') %>

<main>
  <div id="map-create" class="map"></div>
</main>
<%- include('partials/_site-foot') %>
