<!-- site meta + body tag -->
<%- include('partials/_site-head') %>

<!-- <header> + <nav> -->
<%- include('partials/_headnav') %>

<main>
  <h1><%= locals.page === "create-map" ? "Create A Map" : "Edit Map" %></h1>

  <form id="createMapForm">
    <label class="form-group">
      <span class="form-label">This map is a collection of</span>
      <input
        type="text"
        name="map-title"
        id="map-title"
        class="form-input input-lg"
        placeholder="eg. Best Coffee in Town"
      />
    </label>

    <div class="btn-container">
      <button type="submit" class="btn btn-primary">Save</button>
      <!-- hide if path is not maps/edit -->
      <button type="button" class="btn btn-error">Delete</button>
    </div>
  </form>

  <div id="leaflet-map" class="map full-width"></div>

  <h3>My Places</h3>
  <div class="card-grid place-grid" id="user-points"></div>
</main>
<%- include('partials/_site-foot') %>
