<!-- site meta + body tag -->
<%- include('partials/_site-head') %>

<!-- <header> + <nav> -->
<%- include('partials/_headnav') %>

<main>
  <div class="content-header">
    <h1><%= user.fullname %></h1>

    <div class="form-group text-right">
      <select class="form-select profile-view" id="profile-view-select">
        <option value="my-maps">My Maps</option>
        <option value="my-faves">My Favourite Maps</option>
        <option value="my-activity">My Activity</option>
      </select>
    </div>
  </div>

  <section id="user-container" class="grid-container"></section>
</main>

<%- include('partials/_site-foot') %>
