// extending base.scss styles from spectre.css

.card {
  max-width: 800px;
  box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);

  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    font-weight: 700;
  }

  &-body p:last-of-type,
  p.card-subtitle {
    margin-bottom: 0;
  }

  &-image,
  &-map {
    position: relative;
    max-height: 200px;
    overflow: hidden;
  }
}

.btn.view-btn {
  padding: 0.25rem 1.25rem;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

// on map view cards
.point-btn-container .btn {
  margin-right: 0.5em;
}
