.error {
  height: 100%;
  min-height: 40vh;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  &-code {
    font-family: $logo-font;
    font-size: 5em;
  }

  &-msg {
    font-size: 2em;
  }
}
