// vendor imports
@import "vendor/spectre-css";

// variables
$logo-font: "Poppins", sans-serif;

// leaflet/map styles
@import "map";

@import "headnav";
@import "card";

// type stuff
main {
  a {
    font-weight: 700;
  }
}

body {
  background-color: #eee;
}

.wrapper {
  width: 90%;
  margin: auto;
}

main {
  width: 90%;
  margin: 1em auto;
}
