// vendor imports
@import "vendor/spectre-css";

// leaflet/map styles
@import "map";

body {
  background-color: #eee;

  h1 {
    color: #244751;
  }
}

.site-nav {
  // background-color: #dfdce0;
  align-items: center;
  padding: 1em 0.5em;

  h1 {
    margin-bottom: 0;
  }
}

main {
  width: 90%;
  margin: 1em auto;
}

.card {
  margin-bottom: 0.5em;
}
