// vendor imports
@import "vendor/spectre-css";

// variables
$logo-font: "Poppins", sans-serif;

// leaflet/map styles
@import "map";

@import "layout";
@import "utils";

@import "headnav";
@import "form";
@import "single";
@import "profile";

@import "card";
@import "btn-heart";

// type
main {
  a {
    font-weight: 700;
  }
}

// spectre.css overrides
.img-responsive {
  width: 100%;
}
